.loading-ellipsis {
  display: flex;
  align-items: center;
}

.loading-ellipsis .dots {
  display: inline-flex;
  margin-left: 4px;
}

.loading-ellipsis .dots span {
  animation: loading-dots 1.4s infinite;
  animation-fill-mode: both;
}

.loading-ellipsis .dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-ellipsis .dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loading-dots {
  0%, 80%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

